.detail__controls {
  position: fixed;
  inset: auto 0 0 0;
  padding: 1.25rem 1.5rem;
  display: flex;
  gap: 0.5rem;

  > * {
    flex-grow: 1;
  }
}

@media screen and (min-width: 48em) {
  .detail__controls.card {
    background-color: transparent;
    box-shadow: none;
  }
}
