body.dark-mode {
  --clr-bg: hsl(233, 30%, 11%);
  --clr-bg-secondary: hsla(233, 30%, 21%, 1);

  nav,
  input {
    background-color: var(--clr-purple-600);
  }

  label,
  .invoice__due,
  button,
  a {
    color: var(--clr-purple-000);
  }

  input {
    border-color: var(--clr-purple-500);
  }

  h1,
  h2,
  h3,
  h4,
  p:not(.alert),
  input,
  .modal__close {
    color: white;
  }

  .modal {
    background-color: rgba(65, 65, 65, 0.3);
  }

  .invoice__id span {
    color: var(--clr-purple-200);
  }

  .dropdown__item svg {
    filter: var(--fltr-purple-000);
  }
  .button--2 {
    background-color: hsla(233, 30%, 21%, 1);
    &:hover {
      background-color: hsla(0, 0%, 100%, 1);
    }
  }
  .invoiceDetail p {
    color: var(--clr-purple-000);
  }
  .items {
    background-color: var(--clr-purple-600);
  }
  .button--2 {
    background-color: var(--clr-purple-700);
  }
}
