body.dark-mode {
  --clr-bg: hsl(233, 30%, 11%);
  --clr-bg-secondary: hsla(233, 31%, 17%, 1);

  .header {
    background-color: var(--clr-purple-600);
  }

  label,
  .invoice__due {
    color: var(--clr-purple-000);
  }

  input {
    background-color: var(--clr-purple-600);
    border-color: var(--clr-purple-500);
  }

  h1,
  h2,
  h3,
  h4,
  p,
  input,
  .modal__close {
    color: white;
  }

  .modal {
    background-color: rgba(65, 65, 65, 0.3);
  }

  .invoice__id span {
    color: var(--clr-purple-200);
  }

  .alert p {
    color: revert;
  }
}
