input,
select {
	padding: 1rem 1.25rem;
	border: 1px solid var(--clr-purple-000);
	border-radius: var(--br-300);
	width: 100%;

	&:not(input[type="radio"]) {
		margin-top: 0.625rem;
	}
	&:focus {
		outline: 1px solid var(--clr-purple-400);
	}
	&:enabled {
		background-color: white;
	}
}
