.detail__item {
	display: grid;
	width: 100%;
	grid-template: repeat(2, auto);
	align-items: center;

	font-weight: 700;
	text-transform: none;

	p:nth-of-type(3) {
		grid-area: 1 / 2 / 3 / 3;
		text-align: right;
		color: black;
	}
}

@media screen and (min-width: 48em) {
	.detail__items {
		border-radius: 0;
		align-items: center;

		.detail__item {
			grid-template-columns: 2fr 0.5fr repeat(2, 1fr);

			h2 {
				margin: 0;
			}
			p:first-of-type {
				text-align: center;
			}
			p:not(:first-of-type) {
				grid-area: revert;
				text-align: right;
			}
		}
	}
}
