.goBack {
  color: var(--clr-purple-700);
  transition: opacity 0.5s ease-in-out;
  display: block;
  margin-bottom: 1.5rem;

  &::before {
    content: url(../../assets/icon-arrow-left.svg);
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.75;
  }
}
