.invoiceDetail,
.detail__item,
.detail__total,
.detail__tableTitles {
	padding: 1.5rem;
}
.detail__items,
.detail__tableTitles {
	background-color: hsla(231, 67%, 99%, 1);
	border-radius: var(--br-400) var(--br-400) 0 0;
}

.invoiceDetail {
	color: var(--clr-purple-200);
	text-transform: capitalize;

	h1,
	h2 {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
}

.detail__tableTitles {
	padding-inline: 2rem;
	margin-top: 1rem;

	p:nth-of-type(2) {
		text-align: center;
	}
	p:nth-of-type(3),
	p:nth-of-type(4) {
		text-align: right;
	}
}

// MEDIA QUERY
@media screen and (min-width: 48em) {
	.invoiceDetail h1,
	.invoiceDetail h2 {
		font-size: 0.9rem;
	}

	.invoiceDetail,
	.detail__item,
	.detail__total {
		padding: 2rem;
	}
}
