@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

html * {
  font-family: "Spartan" !important;
}

body {
  color: var(--clr-purple-700);
  font-size: 0.75rem;
}

button,
label,
input {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
.modal__close {
  color: var(--clr-purple-500);
}

h1,
h2,
h3 {
  font-size: 1.25rem;
}

a,
button,
.button {
  font-size: 0.8rem;
  font-weight: 700;
}

a {
  color: var(--clr-purple-400);
}

button,
.button {
  color: white;
}

label {
  font-weight: 500;
  color: var(--clr-purple-100);
}

input {
  font-weight: 700;
  color: var(--clr-purple-700);
}

.modal__close {
  font-size: 1rem;
}

.error__message {
  font-size: 0.8rem;
  color: var(--clr-red-500);
}

.splash__text {
  color: var(--clr-purple-100);
  font-size: 0.75rem;
  font-weight: 500;
}

.emphasis {
  font-weight: 700;
}
