@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

html * {
  font-family: "Spartan" !important;
}

button,
label,
input {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
.modal__close {
  color: var(--clr-purple-500);
}

body {
  color: var(--clr-purple-700);
}

a:not(.button) {
  color: var(--clr-purple-400);
  font-size: 0.8rem;
  font-weight: 700;
}

button,
.button {
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
}

label {
  font-weight: 500;
  color: var(--clr-purple-100);
}

input {
  font-weight: 700;
  color: var(--clr-purple-700);
}

.modal__close {
  font-size: 1rem;
}

.login__text,
.signup__text {
  font-size: 0.8rem;
}

.login__create,
.signup__login {
  color: var(--clr-purple-400);
  font-weight: initial;
}
.error__message {
  font-size: 0.8rem;
  color: var(--clr-red-500);
}

.splash__title {
  font-size: 1.25rem;
  letter-spacing: -0.625px;
}

.splash__text {
  color: var(--clr-purple-100);
  font-size: 0.75rem;
  font-weight: 500;
}

.emphasis {
  font-weight: 700;
}
