.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

.fs-inherit {
  font-size: inherit;
}

.hide-for-mobile {
  @media screen and (max-width: 48em) {
    display: none;
  }
}

.hide-for-desktop {
  @media screen and (min-width: 48em) {
    display: none;
  }
}

.bg--secondary {
  background-color: var(--clr-bg-secondary);
}
