@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

html {
  color: var(--clr-purple-700);

  * {
    font-family: "Spartan" !important;
    font-size: 0.8rem;
  }
}

h1,
h2,
h3 {
  font-size: 1.25rem;
}
a,
button,
input,
.txt--fw-700 {
  font-weight: 700;
}
h1,
h2,
h3,
h4 {
  color: var(--clr-purple-500);
}
a {
  color: var(--clr-purple-400);
}
label {
  font-weight: 500;
  color: var(--clr-purple-100);
}
input {
  color: var(--clr-purple-700);
}
button,
.button {
  color: white;
}
.txt--fs-400 {
  font-size: 0.8rem;
}
.txt--fs-500 {
  font-size: 1rem;
}
.txt--fw-500 {
  font-weight: 500;
}
.txt--secondary {
  color: var(--clr-purple-100);
}

// MEDIA QUERIES
@media screen and (min-width: 48em) {
  h1 {
    font-size: 2rem;
  }
}
