@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

html * {
  font-family: "Spartan" !important;
}

body {
  color: var(--clr-purple-700);
}

body,
button,
label,
input {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
.modal__close,
.dropdown__item {
  color: var(--clr-purple-500);
}

h1,
h2,
h3 {
  font-size: 1.25rem;
}

a,
button,
.button {
  font-size: 0.8rem;
  font-weight: 700;
}

a {
  color: var(--clr-purple-400);
}

button,
.button {
  color: white;
}

label {
  font-weight: 500;
  color: var(--clr-purple-100);
}

input {
  font-weight: 700;
  color: var(--clr-purple-700);
}

.modal__close {
  font-size: 1rem;
}

.splash__text {
  color: var(--clr-purple-100);
  font-weight: 500;
}

.emphasis {
  font-weight: 700;
}

.invoice > * {
  font-size: 0.8rem;
}

.invoice__total {
  font-size: 1rem;
  font-weight: 700;
}

.invoice__id span,
.invoice__due,
.invoice__client {
  color: var(--clr-purple-100);
}

.alert {
  text-transform: capitalize;
}
.alert:not(.alert--error) {
  font-weight: 700;
}
.alert--error {
  color: var(--clr-red-500);
}
.alert--success {
  color: var(--clr-green-400);
}
.alert--pending {
  color: var(--clr-orange-400);
}
.alert--secondary {
  color: var(--clr-purple-500);
}
