.invoices__header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.invoices__title {
  margin-bottom: 0.25rem;
}

.invoices__remain {
  color: var(--clr-purple-100);
}

.invoices__header span:nth-of-type(2) {
  display: flex;
  gap: 1.125rem;
  margin-left: auto;
  position: relative;
}
