.button {
  height: 3rem;
  padding-inline: 1.5rem;
  border-radius: 2rem;
  transition: background 0.5s ease-in-out;
  gap: 0.5rem;

  &.icon {
    padding-inline: 0.5rem 1rem;
  }
}

.button__icon {
  background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: auto;

  svg {
    width: 0.625rem;
    height: 0.625rem;
  }
}

.button,
.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

// VARIANTS
.button--1 {
  background-color: var(--clr-purple-400);
  &:hover {
    background-color: var(--clr-purple-300);
  }
}

.button.button--2 {
  background-color: var(--clr-purple-000);
  color: var(--clr-purple-200);
  &:hover {
    background-color: var(--clr-purple-100);
  }
}

.button--3 {
  background-color: var(--clr-purple-500);
  color: var(--clr-purple-100);
  &:hover {
    background-color: var(--clr-purple-700);
  }
}

.button--4 {
  background-color: var(--clr-red-400);
  &:hover {
    background-color: var(--clr-red-300);
  }
}
