@import "../../base/mixins.scss";

@mixin button($bg-color, $bg-color-hover, $color) {
  height: 3rem;
  gap: 0.5rem;
  min-width: 4.5rem;
  padding-inline: 1rem;
  border-radius: 2rem;
  transition: background 0.5s ease-in-out;
  @include setFlex(center, center);

  background-color: $bg-color;
  color: $color;
  &:hover {
    background-color: $bg-color-hover;
    text-decoration: none;
  }
}

.button__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: auto;
  background-color: white;
  @include setFlex(center, center);

  svg {
    width: 0.625rem;
    height: 0.625rem;
  }
}

// VARIANTS
.button--1 {
  @include button(var(--clr-purple-400), var(--clr-purple-300), white);
  &.icon {
    padding-inline: 0.5rem 1rem;
  }
}

.button--2 {
  @include button(
    hsla(233, 33%, 95%, 1),
    var(--clr-purple-000),
    var(--clr-purple-200)
  );
}

.button--3 {
  @include button(var(--clr-purple-500), var(--clr-purple-100), white);
}

.button--4 {
  @include button(var(--clr-red-400), var(--clr-red-300), white);
}
