.sidePage {
	z-index: 100;
	inset: 0;
	position: fixed;
	inset: var(--logo-size) 0 0 0;
	background-color: hsla(0, 0%, 0%, 0.25);
	height: calc(100% - var(--logo-size));
	overflow: scroll;
}

.side__content {
	background-color: var(--clr-bg-secondary);
	width: 100%;
	padding: 1.5rem;
}

.side__title {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

// MEDIA QUERIES
@media screen and (min-width: 48em) {
	.side__title {
		margin-bottom: 3rem;
	}
	.side__content {
		padding: 3rem;
		border-radius: 0 var(--br-500) var(--br-500) 0;
		max-width: 38rem;
	}
}

@media screen and (min-width: 66em) {
	.sidePage {
		top: 0;
		height: 100vh;
	}
	.side__content {
		position: fixed;
		inset: 0;
		padding-left: calc(3rem + var(--logo-size));
		overflow: scroll;
	}
}
