.sidePage {
  background-color: hsla(0, 0%, 0%, 0.25);
  position: absolute;
  z-index: 100;
  inset: var(--logo-size) 0 auto 0;
}

.side__content {
  background-color: var(--clr-bg);
  max-width: 38rem;
  padding: 1.5rem;
}

.side__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 48em) {
  .side__content {
    padding: 3rem;
    border-radius: 0 var(--br-500) var(--br-500) 0;
  }
}
@media screen and (min-width: 6em) {
  .sidePage {
    inset: 0 0 0 var(--logo-size);
  }
}
