.header {
  width: 100%;
  padding-right: 1.25rem;
  background-color: var(--clr-purple-500);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --gap: 1.5rem;
  gap: var(--gap);
  transition: background 0.5s ease-in-out;
}

.header__logo,
.header__logo::before {
  height: var(--width);
  width: var(--width);
}

.header__logo {
  --width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-purple-400);
  border-radius: 0 1.25rem 1.25rem 0;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    background-color: var(--clr-purple-300);
    border-radius: 1.25rem 0 0 0;
    z-index: -1;
  }
}

.header__avatar {
  img {
    border-radius: 100%;
    width: 2rem;
    margin-left: var(--gap);
  }

  &::before {
    content: "";
    border-left: 1px solid var(--clr-purple-100);
    position: absolute;
    inset: 0 auto 0 auto;
  }
}

.header__toggle {
  margin-left: auto;
}

// SIDE BAR STYLES
@media screen and (min-width: 66em) {
  .header {
    border-radius: 0 1.25rem 1.25rem 0;
    padding: 0 0 1.5rem 0;
    position: absolute;
    flex-direction: column;
    width: initial;
    height: 100%;
    left: 0;
  }

  .header__toggle {
    margin-left: 0;
    margin-top: auto;
  }

  .header__avatar img {
    margin: var(--gap) 0 0 0;
  }
  .header__avatar::before {
    inset: auto 0 auto 0;
    border-top: 1px solid var(--clr-purple-100);
  }
}
