.new {
  margin-bottom: 7rem;
}

.new__title,
.form__legend {
  margin-bottom: 1.5rem;
}

.new__title {
  font-size: 1.5rem;
}

.new__form {
  fieldset:not(:first-of-type) {
    margin-top: 2.5rem;
    display: grid;
    gap: 1.25rem 1rem;
  }

  legend {
    color: var(--clr-purple-400);
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.new__item {
  display: grid;
  gap: 1.25rem 1rem;
  grid-template-columns: repeat(3, 1fr) auto;

  label:first-of-type {
    grid-column: 1 / 5;
  }
}

.item__total {
  span {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-top: 0.625rem;
    font-weight: 700;
  }
}

.item__delete {
  padding: 0.5rem;
  padding-bottom: 1.1rem;
  align-self: end;
}

.new__controls {
  position: fixed;
  inset: auto 0 0 0;
  background-color: var(--clr-bg-secondary);
  box-shadow: 0px 10px 10px 10px var(--clr-shadow);
  padding: 1.25rem 1.5rem;
  display: flex;
  gap: 0.5rem;
}
